


@import 'base/variables';

body {
    margin: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    font-family: 'Caveat', sans-serif;
}

.afterLine {
    margin: 0 10px 0 10px;
}


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/catalog';
@import 'blocks/carousel';
@import 'blocks/order';
@import 'blocks/forms';


// медиа файл подключается последним
@import 'blocks/buttons';
@import 'blocks/media';
