.order {
    height: 600px;
    background: url('../img/honeybg2.jpg') no-repeat 50%/cover; 
    padding: 100px 10px 100px 10px;
    &__title {
        font-size: 36px;
        margin: 0;
    }
    &__consultation {
        font-size: 36px;
        margin: 0;
    }
}